@menu-color: rgb(255, 0, 0);

body {
	margin: 0;
	font-family: 'Arial';
}

button {
	background: none;
}

input,
button {
	border: none;
	outline: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: unset;
}

header {
	border-bottom: 5px solid grey;

	menu {
	    padding: 0;
	    margin: 0;
		background-color: @menu-color;
		display: flex;
		flex-direction: bottom;
		height: 50px;
		align-items: flex-end;

		li {
			display: inline-block;
			list-style-type: none;
			margin-left: 5px;

			a {
				height: 40px;
				padding: 0 40px;
				background-color: grey;
				display: flex;
				align-items: center;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

